body {
  background-color: #FFF;
}

h1  {
  color: #a00;
}

#test01 {
  color: #00a;
}

#test02 {
  color:yellow;
}

.important {
  color: #a00;
}

.last3 {
  font-weight:bold;
}

td,th {
  border: solid thin;
}

.name{
  text-align:center;
}

.ol{
  background-color: lightgray;
}
